.header-2 .nav-sub__menu li a, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a, .ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__item > a, .header-2 .nav__list {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

/*Mixin Responsive*/
.header-2 .nav-sub__menu li a, .ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__item > a, .header-2 .nav__list {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

.header-2 .nav-sub__menu li a, .ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__item > a, .header-2 .nav__list {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

/*Mixin Responsive*/
.header-2 .nav-sub__menu li a, .ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__item > a, .header-2 .nav__list {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

.header-2 {
  background-color: #022d4d;
}
.header-2 .container-master {
  height: 8.3rem;
}
.header-2 .nav__menu, .header-2 .nav__list {
  height: 100%;
}
.header-2 .nav__list {
  align-items: center;
  justify-content: flex-start;
}
.header-2 .nav__item {
  position: relative;
  height: 100%;
}
.header-2 .nav__item.active > a {
  color: #cfaa40;
}
.header-2 .nav__item > a {
  font-size: 1.6rem;
  color: #fff;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 9px;
}
.header-2 .nav__item > a:hover {
  background-color: #0c3a63;
}
.header-2 .nav__item > a.active {
  background-color: #0c3a63;
}
.header-2 .nav__item svg {
  margin-top: 3px;
  margin-left: 3px;
}
.header-2 .nav__item.dropdown .nav-sub__menu {
  display: block;
}
.header-2 .nav__item.dropdown svg {
  transform: rotate(-180deg);
}
.header-2 .nav-sub__menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 28rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.header-2 .nav-sub__menu li a {
  padding: 1rem 1.2rem;
  color: #022d4d;
  display: block;
}
.header-2 .nav-sub__menu li a:hover {
  background-color: rgba(207, 169, 64, 0.3215686275);
}

@media (max-width: 1200px) {
  .header-2 .container-master {
    height: 5.4rem;
  }

  .header-2 .nav__item > a {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .header-2 .container-master {
    height: unset;
    padding: 0;
  }
  .header-2 .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.4rem 0;
  }
  .header-2 .nav__item {
    width: 100%;
  }
  .header-2 .nav__item > a {
    padding: 1rem 1.4rem;
    justify-content: space-between;
  }
  .header-2 .nav__item > a:hover {
    background-color: #125285;
  }
  .header-2 .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header-2 .nav-sub__menu {
    position: unset;
    border: 0;
  }
  .header-2 .nav-sub__menu li a {
    padding: 1rem 2.7rem;
  }
}
.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a, .header-2 .nav-sub__menu li a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__list, .header-2 .nav__item > a {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

/*Mixin Responsive*/
.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit, .ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a, .header-2 .nav-sub__menu li a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

.header-2 .nav__list, .header-2 .nav__item > a {
  display: flex;
}

.ListFinance .itemFinance .buttonItemFinance, .select__content .btn-submit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #022d4d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.ListFinance .itemFinance .buttonItemFinance:after, .select__content .btn-submit:after, .ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background: #005391;
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}
.ListFinance .itemFinance .buttonItemFinance:before, .select__content .btn-submit:before {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.ListFinance .itemFinance .buttonItemFinance span, .select__content .btn-submit span,
.ListFinance .itemFinance .buttonItemFinance a,
.select__content .btn-submit a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover, .select__content .btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.ListFinance .itemFinance .buttonItemFinance:hover span, .select__content .btn-submit:hover span {
  color: #fff;
}
.ListFinance .itemFinance .buttonItemFinance:hover:after, .select__content .btn-submit:hover:after, .ListFinance .itemFinance .buttonItemFinance:hover:before, .select__content .btn-submit:hover:before {
  width: 100%;
}

h1.titlePage, .section__titlepage {
  margin: 40px 0;
}
h1.titlePage span, .section__titlepage span {
  font-size: 4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  border-bottom: 5px solid #88a6b5;
}
@media (max-width: 1200px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 3rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 3rem;
    border-bottom: 3px solid #88a6b5;
  }
}
@media (max-width: 768px) {
  h1.titlePage, .section__titlepage {
    margin-bottom: 2.6rem;
  }
  h1.titlePage span, .section__titlepage span {
    font-size: 2.4rem;
    border-bottom: 3px solid #88a6b5;
  }
}

.select__transaction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.select__transaction.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.select-close {
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #b2b2b2;
}

.select__content {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.6rem 2.6rem;
  max-width: 34rem;
  position: absolute;
  z-index: 101;
}
.select__content h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfaa40;
  padding-bottom: 1rem;
  margin: 0;
}
.select__content h3 span {
  font-size: 1.8rem;
  color: #022d4d;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
}
.select__content h3 i {
  color: #000;
}
.select__content .select__description {
  font-size: 1.3rem;
  font-family: "Caros", Arial, Helvetica, sans-serif;
  margin: 2.2rem 0;
}
.select__content .select__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.select__content .select__list .select__item {
  margin-bottom: 1.2rem;
  border-radius: 20px;
  border: 2px solid #cfaa40;
  padding: 1rem;
  cursor: pointer;
  transition: 250ms;
}
.select__content .select__list .select__item:hover {
  background-color: #cfaa40;
}
.select__content .select__list .select__item:hover h4,
.select__content .select__list .select__item:hover p {
  color: #fff;
}
.select__content .select__list .select__item:last-child {
  margin-bottom: 0;
}
.select__content .select__list .select__item h4 {
  margin: 0 0 1.4rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}
.select__content .select__list .select__item p {
  margin-bottom: 0;
  font-family: "Caros", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.select__content .select__list .select__item.active {
  background-color: #cfaa40;
}
.select__content .select__list .select__item.active h4,
.select__content .select__list .select__item.active p {
  color: #fff;
}
.select__content .btn-submit {
  margin: 24px auto 0;
  display: block;
}
.select__content .btn-submit span {
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 45px;
}
.select__content .btn-submit.disabled {
  background-color: #e7ecf0;
  cursor: not-allowed;
  pointer-events: none;
}
.select__content .btn-submit.disabled:after, .select__content .btn-submit.disabled::before {
  display: none;
}

.boxChartFinance {
  margin-top: 30px;
}
.boxChartFinance .titlebox {
  font-size: 20px;
  font-weight: bold;
}
.boxChartFinance .content__Finance {
  border: 1px #88A6B5 solid;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}
.boxChartFinance .content__Finance .buttonViewAll {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.boxChartFinance .content__Finance .buttonViewAll:hover {
  color: #cfaa40;
}
.boxChartFinance #myChart {
  max-height: 411px !important;
}

.boxListFinance {
  margin-bottom: 140px;
}

.ListFinance {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.ListFinance .itemFinance {
  width: calc(33.3% - 30px);
  margin: 0 15px 30px;
  background: #cfaa40;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.ListFinance .itemFinance .titleItemFinance {
  font-size: 2rem;
  font-family: "Caros-Bold", Arial, Helvetica, sans-serif;
}
.ListFinance .itemFinance .descriptionItemFinance {
  height: 6rem;
  margin: 1.2rem 0 2rem;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ListFinance .itemFinance .buttonItemFinance {
  width: 50%;
  max-width: 120px;
  height: 4rem;
  background: #022d4d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-transform: uppercase;
}
.ListFinance .itemFinance .buttonItemFinance span {
  padding: 0;
  font-family: "Averta", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.ListFinance .itemFinance:nth-child(3), .ListFinance .itemFinance:nth-child(6) {
  margin-right: 0;
}

@media (max-width: 768px) {
  .boxListFinance {
    padding: 0 15px;
  }

  .ListFinance .itemFinance {
    width: 100%;
    margin: 0 0 15px;
  }
}/*# sourceMappingURL=finance.css.map */