@import '../common/mixin';
@import '../common/variable';

// Header 2
@import './header-2';
// End Header 2


.section__tasksmeeting {

    &__contentboxmeetings,
    &__contenttaskstoday {
        @extend %stylecontentBox;
    }

    .list__task {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;

        &__item {
            width: max-content;
            background: $secondaryColor;
            padding: 5px 10px;
            margin-right: 10px;

            a {
                color: #fff;
            }
        }
    }

    .list__contenttask {
        &__item {
            border-radius: 10px;
            overflow: hidden;
            height: auto;
            position: relative;
            margin-bottom: 15px;
            background: #e6f3fc;
            color: #000;
            padding: 15px;

            >div {
                color: #1b68a2;
                font-size: 14px;
                line-height: 22px;

                p {
                    color: #000;
                }
            }

            &__description {
                margin-bottom: 10px;
            }

            &__title {
                padding: 0 0 8px 0;
                font-size: 1.7rem;
                font-family: $fontCarosBold;
            }
        }

        &__item:last-child {
            margin-bottom: 0;
        }
    }

    @extend %sectionMeetings;
}

//
.section__statistics__archives {
    margin-top: 30px;

    .boxstatistics {
        &__content {
            @extend %stylecontentBox;
        }

        #myChart {
            max-height: 380px !important;
        }
    }
}

.boxarchives__content {
    border: 0;
}

.boxarchives {
    &__content {
        @extend %stylecontentBox;
        background: #CFAA40;
        color: #fff;

        .buttonViewAll {
            color: #fff;

            &:hover {
                color: #022d4d;
            }
        }

    }

    &__content__list__item {
        border-radius: 10px;
        overflow: hidden;
        height: auto;
        position: relative;
        margin-top: 15px;
        background: #e4c362;
        padding: 10px;

        &__title {
            padding-bottom: 5px;
            font-size: 16px;
            font-family: $fontCarosBold;

            a {
                color: #fff;
            }
        }

        .date {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            font-family: $fontCarosBold;
        }

        p.content {
            color: #fff;
        }
    }
}

//Project
.section__projects {
    margin-top: 30px;

    &__content {
        @extend %stylecontentBox;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(100%/3 - 10px);
        margin-right: 15px;
        position: relative;
        z-index: 9;
        padding: 15px;
        background: #e6f3fc;
        border-radius: 10px;
        margin-top: 20px;

        &__name {
            font-size: 1.7rem;
            font-family: $fontCarosBold;
        }

        .select {
            position: absolute;
            right: 15px;
            top: 5px;
            color: #e5bd40;
            font-size: 20px;
        }

        .buttonstatus {
            @extend %stylebuttonstatus;

        }

        .description {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .listMembersProjects {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            a {
                display: flex;
                margin-right: 3px;
            }
        }

        .others {
            position: absolute;
            right: 15px;
            color: #022D4D;
        }

        a {
            z-index: 9999;
        }
    }

    &__item:last-child {
        margin-right: 0;
    }
}

//box Member
.section__members {
    margin-top: 30px;

    &__content {
        @extend %stylecontentBox;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    &__item {
        width: calc(100%/3 - 10px);
        margin-right: 15px;
        position: relative;
        z-index: 9;
        background: #022D4D;
        border-radius: 10px;
        padding: 15px;

        &__name {
            font-size: 16px;
            color: #fff;
            opacity: 0.7;
            font-family: $fontCarosBold;
        }

        .select {
            position: absolute;
            right: 15px;
            top: 5px;
            color: #e5bd40;
            font-size: 20px;
        }

        .buttonstatus {
            @extend %stylebuttonstatus;
        }

        a {
            z-index: 9999;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__itemwork {
        position: relative;
        margin-bottom: 15px;

        &__title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            color: #fff;
            opacity: 0.7;
        }

        .buttonviewall {
            top: 0 !important;
            color: #fff !important;
            position: absolute;
            right: 15px;
            top: 20px;
            font-size: 15px;
            font-weight: 600;
        }

        &__content {
            color: #fff;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

//Handoff
.section__handoffcustomlink {
    margin-top: 30px;
    margin-bottom: 80px;

    &__handoff__content {
        @extend %stylecontentBox;
    }

    &__handoff__itemhandoff {
        background: #e6f3fc;
        padding: 15px;
        border-radius: 10px;
        position: relative;
        margin-top: 20px;

        .title__handoff {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .select {
            position: absolute;
            right: 20px;
            top: 5px;
            color: $secondaryColor;
            font-size: 20px;
        }
    }

    &__customlink__content {
        @extend %stylecontentBox;

        .button__interlink {
            @extend %btn-animation;
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: #fff;
            background: #022D4D;
            margin-top: 15px;
            text-transform: uppercase;

            span {
                padding: 0;
                font-family: $fontAverta;
                font-weight: 300;
            }
        }
    }
}

@include mobile480 {
    .section__projects__item .others {
        display: flex;
        width: 100%;
        position: relative;
        left: 5px;
        margin-top: 10px;
    }


}

@include tablet768 {
    .section__projects__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .section__handoffcustomlink__handoff {
        margin-bottom: 30px;
    }
}

@include tablet980 {}

@include desktop1024 {}

@include desktop1200 {

    .boxmeetings,
    .boxstatistics {
        margin-bottom: 30px;
    }

    .section__members__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
